@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
* {
  padding: 0;
  margin: 0; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #19a2ae;
  background-image: url("/src/images/bg-pattern-top.svg"), url("/src/images/bg-pattern-bottom.svg");
  background-position: right 50vw bottom 9vh, left 46vw top 28vh;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  box-shadow: 8px 8px 19px 0px rgba(0, 0, 0, 0.49);
  font-family: 'Lato'; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  border-radius: 10px;
  background-image: url(/src/images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  background-position: top; }
  .card__numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 20px;
    border-top: 0.1px solid #f5f3f3;
    padding: 20px 0;
    font-weight: 1000; }
    .card__numbers__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px; }
      .card__numbers__item__value {
        font-weight: 700; }
      .card__numbers__item__text {
        color: #969696;
        font-weight: 400;
        font-size: 0.625rem;
        letter-spacing: 1px; }
  .card__color {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    letter-spacing: 1px; }
    .card__color__img {
      padding: 90px 90px 0 90px; }
      .card__color__img__content {
        border: white solid 5px;
        border-radius: 1000px; }
    .card__color__name {
      font-weight: bolder; }
      .card__color__name a {
        font-weight: lighter;
        padding-left: 10px;
        color: #969696; }
    .card__color__location {
      color: #969696;
      padding: 15px;
      font-size: 0.8rem; }
